This code cleans the messy list that MOE data comes in.

- This automatically cleans the data
    - No need for any manual cleaning like using Excel Pivots or Functions
- There is less room for user error when cleaning
- Fast! Taking less than one minute to compute

The raw data looks like this:

<img src="raw data.png" alt="raw data" />

But we need it like this:

<img src="cleaned data.png" alt="cleaned data">

Things you need to do before running this code:
- Put this code in the **SAME FOLDER** as the MOE data. 
    - The MOE data should be **EXCEL FILES**.
- Identify number of irrelevant rows aka the 'Restricted/Sensitive' and 'LIST OF STUDENTS IN THE SINDA TUITION PROGRAMME, ... RESULTS" at the top of excel
- Identify max no. of subjects taken by one student

In [ ]:
#imports the required packages for this code to run
import pandas as pd
import numpy as np

In [ ]:
#loads the csv: replace the "..." with the name of the target file

df = pd.read_excel("2021 SINDA NA Levels.xlsx")

In [ ]:
df.head(10) #previews the first 10 rows, if the first few rows are irrelevant, continue to next code to remove it

In [ ]:
#removes the first nth rows that are irrelevant/blank (MOE's title rows)
#pls check the no. of rows to remove above and take the number on the leftmost column where you want it to start
#in this case, i want it to start at the index 5.

df = df.iloc[5:]

In [ ]:
new_header = df.iloc[0] #grab the first row and makes it the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [ ]:
df

In [ ]:
#max no. = 8 subjects
#edit the code accordingly aka delete or add no. of subjects according to the max no. of subjects

#renames the columns so each subject-grade is easier to distinguish
df.columns = ['S/N', 'Ident No.', 'Name', 'Subject1', 'Grade1', 'Subject2', 'Grade2',
       'Subject3', 'Grade3', 'Subject4', 'Grade4', 'Subject5', 'Grade5', 'Subject6',
       'Grade6', 'Subject7', 'Grade7', 'Subject8', 'Grade8', 'Eligibility']

In [ ]:
df

In [ ]:
#due to the removal of first few rows, the index needs to be reset
df.reset_index(inplace=True)
df = df.drop('index', axis=1)

In [ ]:
#creates a temporary df in computers memory for each subject-grade for the max no. of subjects
#max no. = 8 subjects
#edit the code accordingly aka delete or add no. of subjects according to the max no. of subjects

df1 = df[['S/N','Ident No.','Name','Subject1', 'Grade1']]
df2 = df[['S/N','Ident No.','Name','Subject2', 'Grade2']]
df3 = df[['S/N','Ident No.','Name','Subject3', 'Grade3']]
df4 = df[['S/N','Ident No.','Name','Subject4', 'Grade4']]
df5 = df[['S/N','Ident No.','Name','Subject5', 'Grade5']]
df6 = df[['S/N','Ident No.','Name','Subject6', 'Grade6']]
df7 = df[['S/N','Ident No.','Name','Subject7', 'Grade7']]
df8 = df[['S/N','Ident No.','Name','Subject8', 'Grade8']]

In [ ]:
#drops the NaN values from each subject-grade
#again, edit the code accordingly aka delete or add no. of subjects according to the max no. of subjects

df1 = df1.dropna()
df2 = df2.dropna()
df3 = df3.dropna()
df4 = df4.dropna()
df5 = df5.dropna()
df6 = df6.dropna()
df7 = df7.dropna()
df8 = df8.dropna()

In [ ]:
#create a function to change all the column names to be common to facilitate concatenation later
def column_names(d):
    d.columns = ['S/N','Ident No.','Name','Subject', 'Grade']
    return d

In [ ]:
#run the function for all the dfs
column_names(df1)
column_names(df2)
column_names(df3)
column_names(df4)
column_names(df5)
column_names(df6)
column_names(df7)
column_names(df8)

In [ ]:
#appends all the dfs to the bottom of each other
#now we have one row for each student and for each and every of their subject taken and grades

df_merged = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0, join='outer', names=['S/N','Ident No.','Name','Subjects', 'Grades'])

In [ ]:
df_merged

In [ ]:
#this tells us all the possible subjects taken by this cohort of students
#this is the number of columns we can expect in the cleaned file
df_merged['Subject'].unique()

In [ ]:
#pivots the table so each subject is listed, tied to each student and with the grade as each datapoint!!!
sorted_df = df_merged.pivot_table("Grade", ['S/N', 'Ident No.',"Name"], 
                      "Subject", aggfunc="first").reset_index().rename_axis(columns=None)

In [ ]:
#saves the cleaned data to an excel :)
sorted_df.to_excel('cleaned_2021 SINDA NA Levels.xlsx')