This code cleans the messy list that MOE data comes in.

- This automatically cleans the data
    - No need for any manual cleaning like using Excel Pivots or Functions

The raw data looks like this:

<img src="raw data.png" alt="raw data" />

But we need it like this:

<img src="cleaned data.png" alt="cleaned data">


- There is less room for user error when cleaning
- Produces all possible subjects, not just Math or Science
- Fast! Taking only a few minutes to compute each sheet

**Things you need to do before running this code:**
- Put this code in the **SAME FOLDER** as the MOE data. 
    - The MOE data should be in **EXCEL FILES**.
- Identify number of irrelevant rows aka the 'Restricted/Sensitive' and 'LIST OF STUDENTS IN THE SINDA TUITION PROGRAMME, ... RESULTS" at the top of excel
- Identify max no. of subjects taken by one student

In [ ]:
#imports the required packages for this code to run
import pandas as pd

In [ ]:
#loads the csv: replace the "..." with the name of the target file

df = pd.read_excel("...")

In [ ]:
#previews the first 10 rows
#see if the first few rows are irrelevant
#pls check the no. of rows to remove above and take the number on the leftmost column where you want it to start (e.g. 4)

#if there are rows to remove, proceed to the next codeblock

df.head(10)

In [ ]:
#removes the first nth rows that are irrelevant/blank (MOE's title rows)
df = df.iloc[4:]

In [ ]:
new_header = df.iloc[0] #grab the first row and makes it the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [ ]:
#check the headers and data is correct

df

In [ ]:
#shows the current column names
df.columns

In [ ]:
#helper function for renaming the columns

def columns(max):
    print(f"df.columns = ['S/N', 'Ident No.', 'Name',")
    for i in range(1, max):
        print(f"                'Subject{i}', 'Grade{i}',")
    print(f"                'Subject{max}', 'Grade{max}']")

In [ ]:
#replace the ... with the max no. of subjects

columns(...)

In [ ]:
#renames the columns so each subject-grade is easier to distinguish
df.columns = ['S/N', 'Ident No.', 'Name',
                'Subject1', 'Grade1',
                'Subject2', 'Grade2',
                'Subject3', 'Grade3',
                'Subject4', 'Grade4',
                'Subject5', 'Grade5',
                'Subject6', 'Grade6',
                'Subject7', 'Grade7',
                'Subject8', 'Grade8',
                'Subject9', 'Grade9',
                'Subject10', 'Grade10',
                'Subject11', 'Grade11',
                'Subject12', 'Grade12',
                'Subject13', 'Grade13']

In [ ]:
df

In [ ]:
#due to the removal of first few rows, the index needs to be reset
df.reset_index(inplace=True)
df = df.drop('index', axis=1)

In [ ]:
#helper function for the next codeblock

def create_df(max):
    for i in range(1,max+1):
        print(f"df{i} = df[['S/N','Ident No.','Name','Subject{i}', 'Grade{i}']]")

In [ ]:
#replace the ... with the max no. of subjects
#then copy and paste the results in the next codeblock

create_df(../)

In [ ]:
#creates a temporary df in computers memory for each subject-grade for the max no. of subjects
#max no. = 8 subjects
#edit the code accordingly aka delete or add no. of subjects according to the max no. of subjects


df1 = df[['S/N','Ident No.','Name','Subject1', 'Grade1']]
df2 = df[['S/N','Ident No.','Name','Subject2', 'Grade2']]
df3 = df[['S/N','Ident No.','Name','Subject3', 'Grade3']]
df4 = df[['S/N','Ident No.','Name','Subject4', 'Grade4']]
df5 = df[['S/N','Ident No.','Name','Subject5', 'Grade5']]
df6 = df[['S/N','Ident No.','Name','Subject6', 'Grade6']]
df7 = df[['S/N','Ident No.','Name','Subject7', 'Grade7']]
df8 = df[['S/N','Ident No.','Name','Subject8', 'Grade8']]
df9 = df[['S/N','Ident No.','Name','Subject9', 'Grade9']]
df10 = df[['S/N','Ident No.','Name','Subject10', 'Grade10']]
df11 = df[['S/N','Ident No.','Name','Subject11', 'Grade11']]
df12 = df[['S/N','Ident No.','Name','Subject12', 'Grade12']]
df13 = df[['S/N','Ident No.','Name','Subject13', 'Grade13']]

In [ ]:
#helper function for the next codeblock

def dropna(max):
    for i in range(1,max+1):
        print(f"df{i} = df{i}.dropna()")

In [ ]:
#replace the ... with the max no. of subjects
#then copy and paste the results in the next codeblock

dropna(10)

In [ ]:
#drops the NaN values from each subject-grade
#copy and paste the result from the previous line into this block

df1 = df1.dropna()
df2 = df2.dropna()
df3 = df3.dropna()
df4 = df4.dropna()
df5 = df5.dropna()
df6 = df6.dropna()
df7 = df7.dropna()
df8 = df8.dropna()
df9 = df9.dropna()
df10 = df10.dropna()

In [ ]:
#create a function to change all the column names to the same to facilitate concatenation later
def column_names(d):
    d.columns = ['S/N','Ident No.','Name','Subject', 'Grade']
    return d

In [ ]:
#helper function for the next codeblock

def col_names(max):
    for i in range(1, max+1):
        print(f"column_names(df{i})")

In [ ]:
#replace the ... with the max no. of subjects
#then copy and paste the results in the next codeblock

col_names(...)

In [ ]:
#run the function for all the dfs
#copy and paste the text below with the result from the previous line into this block
column_names(df1)
column_names(df2)
column_names(df3)
column_names(df4)
column_names(df5)
column_names(df6)
column_names(df7)
column_names(df8)
column_names(df9)
column_names(df10)

In [ ]:
#helper function for listing all the subject-grade pairs
def list(max):
    print("df_merged = pd.concat(")
    for i in range(1, max):
        print(f"            [df{i},")
    print(f"            df{max}],")
    print("             axis=0, join='outer', names=['S/N','Ident No.','Name','Subjects', 'Grades'])")

In [ ]:
#replace the ... with the max no. of subjects
#then copy and paste the results in the next codeblock

list(10)

In [ ]:
#appends all the dfs to the bottom of each other
#now we have one row for each student and for each and every of their subject taken and grades

df_merged = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13],
                      axis=0, join='outer', names=['S/N','Ident No.','Name','Subjects', 'Grades'])

In [ ]:
df_merged

In [ ]:
#pivots the table so each subject is listed, tied to each student and with the grade as each datapoint!!!
sorted_df = df_merged.pivot_table("Grade", ['S/N', 'Ident No.',"Name"], 
                      "Subject", aggfunc="first").reset_index().rename_axis(columns=None)

In [ ]:
#replace the ... with the desired name of the exported file
#saves the cleaned data to an excel :)
sorted_df.to_excel('...')